<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ApiConfigurationPublicAccessUrl" value="https://wenjiw.blob.core.windows.net:443" />
    <add key="ApiCongigurationTestBlobAccountName" value="wenjiw" />
    <add key="ApiConfigurationTestBlobAccountKey" value="Q6pPPKwCNqgE1/HAYnkkwXBieuiT9lkbaYCOu/sc8M9gJ7XPqcNEzNjBrAINBpDsjwfzp0pmUARh+W4LH8gpqQ==" />
    <add key="ApiConfigurationStorageContainerName" value="apiconfiguration"/>
  </appSettings>
</configuration>