<div class="msportalfx-form msportalfx-form-create">
    <div data-bind="formElement: svgContent"></div>
    <div data-bind="formElement: svgLogoContent"></div>
    <!--<div data-bind="formElement: nameTextBox"></div>
    <div data-bind="formElement: apiTypeSelector"></div>
    <div data-bind="formElement: accountSpecSelector.control"></div>
    <div data-bind="formElement: subscriptionDropDown.control"></div>
    <div data-bind="formElement: resourceGroupDropDown.control"></div>
    <div data-bind="formElement: locationDropDown.control"></div>
    <div data-bind="formElement: legalSelector, visible: showLegalTerms"></div>-->
</div>