@using WebAppEFTest.Areas.SPA.Model
@model EmployeeListViewModel

<div>
    @{
        Html.RenderAction("GetAddNewLink");
    }
    <table style="border:1px;border-style:solid;border-color:black;" id="EmployeeTable">
        <tr>
            <th style="border:1px;border-style:solid;border-color:black;">EmployeeName</th>
            <th style="border:1px;border-style:solid;border-color:black;">Salary</th>
        </tr>

        @foreach (EmployeeViewModel employee in Model.employees)
        {
            <tr>
                <td style="border:1px;border-style:solid;border-color:black;">@employee.EmployeeName</td>
                <td style="border:1px;border-style:solid;border-color:black;">@employee.Salary</td>
            </tr>
        }

    </table>
</div>
